
<div style="height: fit-content;">
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h1>Booking Home</h1>
						</div>
						<form style="height: 40%;" >
							<!-- <div class="form-group">
								<input class="form-control remove-symbols" type="number" placeholder="Booking ID"  required formControlName="booking_ID">
								<span class="form-label">Booking ID</span>
							</div> -->
                           
							<div class="form-btn">
								<button class="submit-btn" type="submit"><a style="color: white;" routerLink="/booking/add-booking">Add Booking Details</a></button>
							</div>
                            <br>
                            <div class="form-btn">
								<button class="submit-btn" type="submit"><a style="color: white;" routerLink="/booking/get-all-bookings">All Bookings</a></button>
							</div>
                            <br>
                            <div class="form-btn">
								<button class="submit-btn" type="submit"><a style="color: white;" routerLink="/booking/get-booking-by-date-time">Search Booking by Date</a></button>
							</div>
                            <br>
                            <div class="form-btn">
								<button class="submit-btn" type="submit"><a style="color: white;" routerLink="/booking/get-booking-by-id">Booking Details</a></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>