<div class="outerdiv">
<div class="centre">
  <div class="card" >
      <div class="card-block">
        <h3 class="card-title" style="color: white;">Driver Log</h3>
        <a  class="btn btn-primary" routerLink="/driver/driver">Proceed </a>
      </div> 
      <div class="imagefix">
        <img class="icon" src="/assets/driver-icon.png" alt="Driver" width="120" height="120">
      </div>
  </div>
</div>
<div class="centre">  
  <div class="card" >
          <div class="card-block">
            <h3 class="card-title" style="color: white;">Vehicle Log</h3>
            <a  class="btn btn-primary" routerLink="/vehicle/vehicle">Proceed</a>
          </div> 
          <div class="imagefix">
            <img class="icon" src="/assets/vehicle-icon.png" alt="Vehicle" width="120" height="120">
          </div>
  </div>
</div>
<div class="centre" id="last-block">
  <div class="card" >
          <div class="card-block">
            <h3 class="card-title" style="color: white;">Booking Log</h3>          
            <a  class="btn btn-primary" routerLink="/booking/booking">Proceed</a>
          </div>
          <div class="imagefix">
            <img class="icon" src="/assets/booking-icon.jpg" alt="Vehicle" width="120" height="120">
          </div>
  </div>
</div>
</div>
