
.container-btn{
    height: 50% !important;
    padding: 10px 10px;
}

.btn-sign-up,
.btn-sign-in,
.btn-log-out{
    border-radius: 40px;
    width: 100%;
    color: white !important;
    border:2px solid white;
    cursor: pointer;
}

.btn-sign-in{
    padding: 10px 30px !important;
}

.btn-sign-up,
.btn-log-out{
    padding: 10px 27.5px !important;
}

.btn-sign-up:hover,
.btn-sign-in:hover,
.btn-log-out:hover {
    background-color: white;
    color: black !important;
}
#ftco-nav{
    justify-content: flex-end;
}