<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d0ace8a7-a3be-4b6c-8995-6ae3ea7a3d97/resourcegroups/POD-4_Microservices_Resource_Group/providers/Microsoft.Web/sites/POD4AuthenticationMicroservice</ResourceId>
    <ResourceGroup>POD-4_Microservices_Resource_Group</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pod4authenticationmicroservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>513e4b2c-788e-45eb-9562-f7ebc7c64202</ProjectGuid>
    <PublishUrl>https://pod4authenticationmicroservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$POD4AuthenticationMicroservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>